SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/vis_db
SPRING_DATASOURCE_USERNAME=vis_user
SPRING_DATASOURCE_PASSWORD=change_this_password

POSTGRES_USER=vis_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_DB=vis_db
POSTGRES_PORT=5432

VITE_API_URL=http://localhost:8080